name: My First Workflow

on:
  push:
    branches: 
        - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: say Hello
        run: echo "Hello, Github Actions! from ${{ github.repository }}"